@model IEnumerable<VNTour.Data.Tour>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

        <div class="content">
            <div class="tour-header">
                <h2>📋 Danh sách Tour Du Lịch</h2>
                <a asp-action="Create" class="btn-add">+ Thêm Tour</a>
            </div>

            <table class="tour-table">
                <thead>
                    <tr>
                        <th>IdTour</th>
                        <th>Tên Tour</th>
                        <th>Loại Tour</th>
                        <th>Địa điểm</th>
                        <th>Ngày khởi hành</th>
                        <th>Số ngày</th>
                        <th>Số chỗ còn</th>
                        <th>Giá</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                  
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdTour</td>
                            <td>@item.TenTour</td>
                            <td>@item.IdDanhMucNavigation?.TenDanhMuc</td>
                            <td>@item.DiemDen</td>
                            <td>@item.NgayKhoiHanh</td>
                            <td>@item.ThoiGian</td>
                            <td>@item.SoCho</td>
                            <td>@string.Format("{0:N0}đ", item.GiaNguoiLon)</td>
                            <td>
                               @if (item.TrangThai == "Hoạt động")
                                 {
                                    <span class="status active">Hoạt động</span>
                                 }
                               else
                                 {
                                    <span class="status inactive">Ngưng hoạt động</span>
                                 }
                            </td>

                        
                            <td>
                                <div class="action-buttons">
                                    <a asp-action="Edit" asp-route-id="@item.IdTour" class="btn-edit">Sửa</a>
                                    <a asp-action="Delete" asp-route-id="@item.IdTour" class="btn-delete">Xóa</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
 